.pattern-diagonal-lines-xl {
    background-image: repeating-linear-gradient(45deg, thistle 0, firebrick 1px, transparent 0, transparent 50%);
    background-size: 100px 100px;
}

.bg { background-color: thistle; }

h2 {
	font-family: 'Ultra', serif;
	color: rgba(178,34,106, 0.7);
	font-weight: lighter;
	font-size: 4em;
	text-shadow: 1px 1px grey;
	text-align: center;
}

#checkbox1 {
	display: block;
	margin-left: auto;
	margin-right: auto;
	height: 5vh;
	width: 5vh;
	background-color: thistle;
	color: firebrick;
	border-radius: 20%;
}


.headertext {
	display: block;
	overflow: hidden;
  	text-overflow: ellipsis;
  	word-wrap: break-word;
	position: relative;
	text-align: center;
	z-index: 1;
	top: 2%;
	width: 90%;
	font-weight: lighter;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 30px;
	font-family: 'Ultra', serif;
	font-size: 5em;
	text-decoration: underline;
	border: solid firebrick 1px;
	border-radius: 5px;
	padding: 2%;
	background-color: oldlace;
	color: rgba(255,0,0,0.6);
	box-shadow: -1px 2px 1px 2px 	#c5c5c5;
         text-shadow: 0 2px 1px thistle;
}



/*.spacing {
	display: block;
	color: black;

}*/

.buttonspacing {
	
	position: relative;
	width: 7em;
	height: 7em;
	display: block;
	border-radius: 50%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	margin-bottom: 10px;
	color: thistle;
	background-color: rgba(255,0,0,0.75);
	box-shadow: 0px 4px 4px 0px orchid;
}

.buttonspacing:focus { outline: none; }


.displaystyle {
	height: 100px;
	width: 70%;
	padding-top: 13px;
	background-color: oldlace;
	border: solid firebrick 1px;
	border-radius: 6px;
	font-family: 'Roboto', sans-serif;
	color: rgba(71, 71, 71, 1.5);
	font-size: 3em;
	display: block;
	text-align: center;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 15px;
	margin-top: 15px;
	box-shadow: 0px 5px 4px 0px rgba(255,0,0,0.6);
	overflow: auto;
}

.flex {
	display: flex;
	flex-direction: column;
	justify-content: center;
	
}

/*scrollbar*/
/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

footer {
	position: relative;
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	margin-top: 30px;
	margin-bottom: 10px;
}

.modegrid {
	display: grid;
	grid-template-columns: 1fr 2fr 1fr 2fr 1fr;
  	grid-template-rows: auto 1fr;
}


#modesarea {
	/*display: none;*/
	grid-area: 2/1/2/6;

}

#qualityarea {
	grid-area: 2/1/2/6;
}

.qualityheader {
	grid-column-start: 2;
	margin-left: 100px;

}

.modeheader {
	grid-column-start: 4;
	margin-right: 100px;
}

#modesbutton {
	display:none;
}

#modesdisplay {
	display:none;
}

input {
	/*display: block;
	position: relative;
	top: 10;
	right: 10;*/
}